body {
    margin: 0;
    overflow: hidden;
}

#cenario-jogo {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw;            
    height: 100vh;           
    background-color: #bbb;
    overflow: hidden;        
    position: relative;
}

.arena-container {
    box-sizing: border-box;
}

.jogador {
    background-image: url(../assets/images/robo_base.png);
    z-index: 20; /* Pra poder ficar na frente das camadas da arena*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.rato_base {
    background-image: url(../assets/images/rato_radioativo.png);
    z-index: 30; /* Pra poder ficar na frente das camadas da arena*/
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.rato_v2 {
    background-image: url(../assets/images/rato_radioativo_2.png);
    z-index: 30; /* Pra poder ficar na frente das camadas da arena*/
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.besouro {
    background-image: url(../assets/images/besouro.png);
    z-index: 30; /* Pra poder ficar na frente das camadas da arena*/
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.robo_base {
    background-image: url(../assets/images/robo01.png);
    z-index: 30; /* Pra poder ficar na frente das camadas da arena*/
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.robo_v2 {
    background-image: url(../assets/images/robo_02.png);
    z-index: 30; /* Pra poder ficar na frente das camadas da arena*/
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.arena1 {
    background-image: url(../assets/images/arena_so.png);
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.arena2 {
    background-image: url(../assets/images/arena02.jpg);
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.arena3 {
    background-image: url(../assets/images/arena03.jpg);
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.arena4 {
    background-image: url(../assets/images/arena05.jpg);
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.arena5 {
    background-image: url(../assets/images/arena05.jpg);
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.chao {
    background-image: url('../assets/images/arena_chao.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1; /* Fica atrás */
}

.parede {
    background-image: url('../assets/images/arena_paredes.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10; /* Fica na frente */
}